<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puzzle</title>
    <link rel="shortcut icon" href="../images/chess.ico">
    <link rel="stylesheet" href="../stylesheets/desk.css">
    <link rel="stylesheet" href="../stylesheets/bar_chart.css">
    <script src="../scripts/stopwatch.js"></script>
</head>

<style >
    body{
        background: linear-gradient(to right, mediumpurple, plum, pink);
    }

</style>

<body style="background-color: lightsteelblue">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--Header-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed; width: 1440px; z-index: 2">
    <div class="container-fluid">
        <img src="../images/chess.ico" alt="Chess" width="50" height="50">
        <a class="navbar-brand" href="chess.html" style="font-size: xx-large; color: darkorange; font-family: Impact">Chess</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"bggfhfdd>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="puzzle.html" style="font-size: x-large; color: darkorange;font-family: Georgia">Puzzle</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="https://www.chess.com/uk/pravila-shakhi" style="font-size: x-large; color: darkorange;font-family: Georgia">Rules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="data.html" style="font-size: x-large; color: darkorange;font-family: Georgia">New Gamer</a>
                </li>
            </ul>
            <div>
                <span class="form-control" id="time" style="color: indigo;background-color: powderblue; font-family: 'Comic Sans MS'; font-size: x-large"><script src="../scripts/time.js"></script></span>
            </div>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>

<!--Chess desk-->
<table bgcolor="#D0AC39" border="0" cellspacing="0" cellpadding="0" style="margin-left: 3%; margin-top: -2%">
    <span>
        <caption align="top" style="font-size: 30px; text-align: center; font-family: 'Comic Sans MS'">
            <b style="color: black">
            Press
            <b style="font-size: 60px">&#9812;</b>
            or
            <b style="font-size: 65px">&#9818;</b>
            to go to this puzzle.
            </b>
        </caption>
    </span>
    <tbody>
        <tr height="15">
            <td background="../images/frame_NW.png" width="10"></td>
            <td background="../images/frame_N.png">          </td>
            <td background="../images/frame_NE.png" width="10"></td>
        </tr><tr>
        <td background="../images/frame_W.png">
        </td><td bgcolor="#EEDD99" align="center" valign="middle">
                <table class="frame" style="margin-top: 0px; background-color: black" >
                    <tr>
                        <td>
                            <div class="box" style="margin-bottom: 4px">
                                <div class="number" id="one"><b>8</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black" style="margin-bottom: 4px">
                                <div style="margin-top: -15px"><a href="https://www.chess.com/puzzles/problem/56567" style="text-decoration: none; color: black">&#9818;</a></div>
                            </div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box" style="margin-bottom: 4px">
                                <div style="margin-top: -15px">&#9820;</div>
                            </div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="box black"  style="margin-bottom: 4px">
                                <div class="number" id="two"><b>7</b></div>
                                <div style="margin-top: -15px">&#9823;</div>
                            </div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black" style="margin-bottom: 4px">
                                <div style="margin-top: -15px">&#9822;</div>
                            </div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box" style="margin-bottom: 4px">
                                <div style="margin-top: -15px">&#9823;</div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="box" style="margin-bottom: 4px">
                                <div class="number" id="three"><b>6</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black" style="margin-bottom: 4px">
                                <div style="margin-top: -15px">&#9816;</div>

                            </div>
                        </td>
                        <td>
                            <div class="box" style="margin-bottom: 4px">
                                <div style="margin-top: -15px">&#9815;</div>

                            </div>
                        </td>
                        <td>
                            <div class="box black" style="margin-bottom: 4px">
                                <div style="margin-top: -15px">&#9813;</div>

                            </div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <div class="box black" style="margin-bottom: 4px">
                                <div class="number" id="four"><b>5</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black" style="margin-bottom: 4px">
                                <div style="margin-top: -15px">&#9823;</div>

                            </div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="box" style="margin-bottom: 4px">
                                <div class="number" id="five"><b>4</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box" style="margin-bottom: 4px">
                                <div style="margin-top: -15px">&#9817;</div>
                            </div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="box black" style="margin-bottom: 4px">
                                <div class="number" id="six"><b>3</b></div>
                                <div style="margin-top: -15px">&#9817;</div>

                            </div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="box" style="margin-bottom: 4px">
                                <div class="number" id="seven"><b>2</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="box black" style="margin-bottom: 4px">
                                <div style="margin-top: -15px">&#9817;</div>

                            </div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black" style="margin-bottom: 4px">
                                <div style="margin-top: -15px"><a href="https://www.chess.com/puzzles/problem/56567" style="text-decoration: none; color: black">&#9812;</a></div>

                            </div>
                        </td>
                        <td>
                            <div class="box"></div>
                        </td>
                        <td>
                            <div class="box black" style="margin-bottom: 4px">
                                <div style="margin-top: -15px">&#9817;</div>

                            </div>
                        </td>
                        <td>
                            <div class="box" style="margin-bottom: 4px">
                                <div style="margin-top: -15px">&#9819;</div>

                            </div>
                        </td>
                        <td>
                            <div class="box black"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="box black">
                                <div class="number" id="eight"><b>1</b></div>
                                <div class="letter" id="a"><b>a</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="box">
                                <div class="letter" id="b"><b>b</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="box black">
                                <div class="letter" id="c"><b>c</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="box">
                                <div class="letter" id="d"><b>d</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="box black">
                                <div class="letter" id="e"><b>e</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="box">
                                <div class="letter" id="f"><b>f</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="box black">
                                <div class="letter" id="g"><b>g</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="box">
                                <div class="letter" id="h"><b>h</b></div>
                            </div>
                        </td>
                    </tr>
                </table>                        <!--     Mat (12px) -->
        </td>
        <td background="../images/frame_E.png">                                                               <!--     E Edge -->
        </td></tr><tr height="10">                                                                                     <!-- Bottom of Frame (height 10px) -->
        <td background="../images/frame_SW.png">                                                              <!--     SW Corner -->
        </td><td background="../images/frame_S.png"></td>                                                              <!--     S Edge -->
        <td background="../images/frame_SE.png"></td>                                                             <!--     SE Corner -->
    </tr>
    </tbody>
</table>


<!--Stopwatch-->
<div class="container" style="position: absolute; margin-left: 50%; margin-top: -40%">
    <h1 style="font-family: Impact">Stop Watch</h1>
    <p id="stopwatch" style="font-family: 'Comic Sans MS'; font-size: 35px"><span id="second">00</span>:<span id="tens">00</span></p>
    <button class="btn btn-success" id="btn-start">Start</button>
    <button class="btn btn-danger" id="btn-stop">Stop</button>
    <button class="btn btn-warning" id="btn-reset">Reset</button>
</div>

<!--Chart bar-->
<h1 style="font-family: Impact; margin-top: 2%; margin-left: 5%">Chart bar</h1>
<div style="margin-left: 3%; margin-top: 2%">
    <div style="height:330px; width:850px; background: linear-gradient(to right, lightskyblue, cornflowerblue, mediumpurple)">
        <canvas id="myChart" style="height:50vh; width:80vw"></canvas>
    </div>
    <div id="chart_figures" style=";border: 2px goldenrod;">
        <b>&#9812;</b>
        <b>&#9813;</b>
        <b>&#9814;</b>
        <b>&#9815;</b>
        <b>&#9816;</b>
        <b>&#9817;</b>
        <b>&#9818;</b>
        <b>&#9819;</b>
        <b>&#9820;</b>
        <b>&#9821;</b>
        <b>&#9822;</b>
        <b>&#9823;</b>
        <b style="font-size: 23px; margin-top: -20px; margin-left: 2px; font-family: 'Arial Black'">ALL</b>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script src="../scripts/chart.js"></script>

</body>
</html>